<strong>Olá, {{alun}}</strong>
<p>Parabéns, você se matriculou com sucesso! <br> segue abaixo os detalhes da sua matricula</p>
<br>
Seu plano é <strong>{{plan}}</strong>
<br>
Valor do plano: <strong>{{description_price}}</strong>
<br>
Duração: <strong>{{description_duration}}</strong>
<br>
<p>O valor total da matricula é <strong>R${{totalPrice}}</strong></p>
